[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
python-ldap = "*"
pdftotext = "*"
"bs4" = "*"
requests = "*"
python-docx = "*"
elasticsearch-dsl = "*"
