* {
	font-family: Arial;
}
em {
	font-weight: bold;
	background-color: yellow;
}

label {
	width: 100px;
	display: block;
	float: left;
}

.success {
    color: green;
}

.error {
    color: red;
}

.menu {
	float: right;
}

.search_results .item {
    max-width: 1000px;
}

.search_results .item {
    float: left;
    clear: left;
    margin-bottom: 20px;
}

.search_results .item .highlight {
    font-size: .9em;
    color: #666;
    float: left;
    clear: left;
}

.paging {
    float: left;
	clear: left;
}

.paging .disabled {
	color: #888;
}

.footer {
	clear: left;
	height: 100px;
}
