<!DOCTYPE html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		  <link rel="stylesheet" href="spectre.min.css" />
	</head>
	<style>
	html, body {
		height: 100%;
	}

	.primary {
		color: #13538F;
	}

	.navbar .navbar-section .btn.btn-link {
		color: #13538F;
	}

	.container.home-search {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 100%;
	}

	.container.home-search .logo {
		max-width: 5em;
		margin-bottom: 1em;
	}

	.searchbox {
		margin-top: -4rem;
	}

	header.navbar.home-search {
		position: absolute;
		width: 100%;
	}
	</style>

	<body>

		<header class="navbar home-search">
			<section class="navbar-section"> </section>
			<section class="navbar-section">
				<a href="" class="btn btn-link">Login</a>
				<a href="" class="btn btn-link">About</a>
			</section>
		</header>

		<div class="container home-search">
			<div class="columns searchbox">
				<div class="centered">
					<img class="logo centered" src="octopus-tmp.svg" />
					<div class="input-group input-inline ">
						<input class="form-input" type="text" placeholder="What are you looking for?">
						<button class="btn btn-secondary input-group-btn">Search</button>
					</div>
				</div>
			</div>

			<!--
			<div class="columns">
				<div class="col-3 col-mx-auto">
					<h3>Login</h3>
					<div class="form-group">
						<label class="form-label" for="input-username">Username</label>
						<input class="form-input" type="text" id="input-username" name="username" placeholder="">
						<label class="form-label" for="input-password">Password</label>
						<input class="form-input" type="password" id="input-password" placeholder="">
					</div>
					<div class="form-group">
						<button class="btn btn-primary float-right">Submit</button>
					</div>
				</div>
			</div>
			-->

		</div>

	</body>
</html>
