<!DOCTYPE html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		  <link rel="stylesheet" href="spectre.min.css" />
	</head>
	<style>
	.topbar {
		margin-bottom: 1rem;
	}

	/*
	.topbar {
		background-color: #13538F;
		margin-bottom: 1rem;
	}

	.navbar a {
		color: white !important;
	}
	*/

	h1 {
		font-size: 1.3rem;
	}

	</style>

	<body>

		<div class="topbar">
			<div class="container grid-lg">
				<header class="navbar">
					<section class="navbar-section">
						<a href="" class="navbar-brand mr-2">Octosearch</a>
					</section>
					<section class="navbar-section">
						<a href="" class="btn btn-link">Login</a>
						<a href="" class="btn btn-link">About</a>
					</section>
				</header>
			</div>
		</div>

		<div class="container grid-lg">

			<!--
			<ul class="breadcrumb">
				<li class="breadcrumb-item">Home</li>
				<li class="breadcrumb-item">Login</li>
			</ul>
			-->

			<h1>Login</h1>
			<p>
				You are logging in to AUTH_PROVIDER.
			</p>
			<div class="columns">
				<div class="column col-xs-12 col-sm-10 col-md-8 col-5">
					<div class="form-group">
						<label class="form-label" for="input-username">Username</label>
						<input class="form-input" type="text" id="input-username" name="username" placeholder="Your windows username">
						<label class="form-label" for="input-password">Password</label>
						<input class="form-input" type="password" id="input-password" placeholder="Your windows password">
					</div>
					<div class="form-group">
						<button class="btn btn-primary float-right">Submit</button>
					</div>
				</div>
			</div>

		</div>

	</body>
</html>
