.primary {
	color: #13538F;
}

.navbar .sep:before {
	content: "|";
	color: #EEE;
}

.navbar span.btn {
	color: #50596c
}

.navbar .navbar-section .btn.btn-link {
	color: #13538F;
}

.searchbar {
	padding: 2rem 0 3rem;
}

.results .tile {
	margin-bottom: 1rem;
}

.results .url {
	color: #080;
	font-size: .6rem;
}

.results .tile-title {
	margin-bottom: .7rem;
}

.results .tile-subtitle {
	font-size: .7rem;
	margin-bottom: 0;
}

.example-tile-icon {
	border: 2px solid blue;
	font-size: .5rem;
	font-weight: bold;
	color: blue;
	padding: .35rem .10rem;
	display: inline-block;
	position: relative;
	top: -0.30rem;
}

.example-tile-icon::before {
	display: block;
	position: absolute;
	content: "";
	top: -2px;
	right: -2px;
	border-style: solid;
	border-color: #FFF #FFF blue blue;
	width: 0;
	height: 0;
	border-width: 4px;
}

///////////////////////////////////

body.home {
	height: 100%;
	background: repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='5' height='5'><rect transform='translate(0, 0), rotate(5, 25, 25), scale(1)' x='0' y='0' width='5' height='6' fill='#F6F6F6' stroke='none' class='shape-overlay'></rect></svg>");
}

.home .container {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.home .container .columns {
	width: 100%;
}

.home .container .logo {
	max-height: 4rem;
	margin-bottom: 1rem;
}

.home .container .input-group {
	width: 100%;
	max-width: 30rem;
}

.home .container .searchbox {
	margin-top: -5rem; /* 0-(logo-height+logo-bottom-margin) */
	text-align: center;
}

.home header.navbar {
	position: absolute;
	width: 100%;
}
