.primary, a, a:hover {
	color: #13538F;
}

.navbar span.btn {
	color: #50596c
}

.navbar .navbar-item + .navbar-item:before {
    content: "|";
    color: #EEE;
}

.navbar .navbar-section .btn.btn-link {
	color: #13538F;
}

.searchbar {
	padding: 2rem 0 3rem;
}

.results .tile {
	margin-bottom: 1rem;
	word-break: break-all;
}

.results .url {
	color: #080;
	font-size: .6rem;
	word-break: break-all;
}

.results .tile-title {
	margin-bottom: .7rem;
}

.results .tile-subtitle {
	font-size: .7rem;
	margin-bottom: 0;
}

.pagination {
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.pagination .page-item.active a {
	border: 1px solid #13538F;
	background: none;
	color: #13538F;
}

.file-tile-icon {
	border: 2px solid #13538F;
	font-size: .5rem;
	font-weight: bold;
	color: #13538F;
	padding: .35rem .10rem;
	display: inline-block;
	position: relative;
	top: -0.30rem;
    width: 1.3rem;
    height: 1.6rem;
    text-align: center;
}

.file-tile-icon::before {
	display: block;
	position: absolute;
	content: "";
	top: -2px;
	right: -2px;
	border-style: solid;
	border-color: #FFF #FFF #13538F #13538F;
	width: 0;
	height: 0;
	border-width: 4px;
}

/* homepage */

.home {
    height: 100%;
}

.home .container {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.home .container .columns {
	width: 100%;
}

.home .container .logo {
	max-height: 4rem;
	margin-bottom: 1rem;
    opacity: 0.4;
}

.home .container .input-group {
	width: 100%;
	max-width: 30rem;
}

.home .container form {
	display: inherit;
	width: 100%;
}

.home .header {
    position: absolute;
    width: 100%;
}

.home .header .toast {
    border-radius: 0px;
}

.home .container .searchbox {
	margin-top: -5rem;
	text-align: center;
}
