{% extends "template.html" %}
{% block content %}

	<div class="searchbar columns">
		<div class="centered">
			<form method="get" action="/search">
				<div class="input-group input-inline ">
					<input name="q" class="form-input" type="text" value="{{query}}" placeholder="What are you looking for?">
					<button class="btn btn-secondary input-group-btn">Search</button>
				</div>
			</form>
		</div>
	</div>

	<p class="found">Found {{found}} documents.</p>

	<div class="results">

		{% for result in results.hits %}
			<div class="tile">
				<div class="tile-icon">
					<div class="example-tile-icon">
                        {{result.extension}}
					</div>
				</div>
				<div class="tile-content">
					<p class="tile-title"><a href="{{result.url}}">{{result.filename}}</a></p>
					<p class="tile-subtitle text-gray">
						{% for snippet in result.highlight %}
							{{snippet|safe}} ...
						{% endfor %}
					</p>
					<span class="url">{{result.url}}</span>
				</div>
			</div>
		{% endfor %}

	</div>

	<div class="paging">
		{% if prev_page %}
			<a href="?q={{query}}&page={{prev_page}}">Previous page</a>
		{% else %}
			<span class="disabled">Previous page</span>
		{% endif %}

		[ {{page}} ]

		{% if next_page %}
			<a href="?q={{query}}&page={{next_page}}">Next page</a>
		{% else %}
			<span class="disabled">Next page</span>
		{% endif %}
	</div>

{% endblock %}

