{% extends "template.html" %}
{% block content %}

	<div class="searchbar columns">
		<div class="centered">
			<form method="get" action="/search">
				<div class="input-group input-inline ">
					<input name="q" class="form-input" type="text" value="{{query}}" placeholder="What are you looking for?">
					<button class="btn btn-secondary input-group-btn">Search</button>
				</div>
			</form>
		</div>
	</div>

	<p class="found">Found {{found}} documents.</p>

	<div class="results">

		{% for result in results.hits %}
			<div class="tile">
				<div class="tile-icon">
					<div class="file-tile-icon">
                        {{result.extension}}
					</div>
				</div>
				<div class="tile-content">
					<p class="tile-title">
                        <a href="{{result.url}}">
                            {% if result.title %}
                                {{result.title}}
                            {% elif result.filename %}
                                {{result.filename}}
                            {% elif result.url %}
                                {{result.url}}
                            {% endif %}
                        </a>
                    </p>
					<p class="tile-subtitle text-gray">
						{% for snippet in result.highlight %}
							{{snippet|safe}} ...
						{% endfor %}
					</p>
					<span class="url">{{result.url}}</span>
				</div>
			</div>
		{% endfor %}

	</div>

	<ul class=" pagination">
		<li class="page-item {% if not prev_page %}disabled{% endif %}">
			<a href="?q={{query}}&page={{prev_page}}">Previous page</a>
		</li>

		<li class="page-item active">
			<a>{{page}}</a>
		</li>

		<li class="page-item {% if not next_page %}disabled{% endif %}">
			<a href="?q={{query}}&page={{next_page}}">Next page</a>
		</li>
	</ul>

{% endblock %}

