{% extends "template.html" %}
{% block content %}

	<div class="searchbar columns">
		<div class="column col-sm-12 col-md-8 col-6 col-mx-auto">
            {% include 'snippets/search-bar.html' %}
		</div>
	</div>

	<p class="found">Found {{found}} documents.</p>

    <div class="results {% if not username %}no-login{% endif %}">

		{% for hit in hits %}
			<div class="tile">
				<div class="tile-icon">
					<div class="file-tile-icon">
                        {{hit.extension}}
					</div>
				</div>
				<div class="tile-content">
					<p class="tile-title">
						<a class="open-file" href="{% if hit.octosearch_url %}{{hit.octosearch_url}}{% else %}{{hit.url}}{% endif %}">
                            {% if hit.title %}
                                {{hit.title}}
                            {% elif hit.filename %}
                                {{hit.filename}}
                            {% elif hit.url %}
                                {{hit.url}}
                            {% endif %}
                        </a>
                    </p>
					<p class="tile-subtitle text-gray">
						{% for snippet in hit.highlight %}
							{{snippet|safe}} ...
						{% endfor %}
					</p>

					<span class="url">{{hit.url}}</span>
					<span class="last-seen">last seen: {{hit.last_seen}}</span>
				</div>
			</div>
		{% endfor %}

	</div>

	<ul class=" pagination">
		<li class="page-item {% if not prev_page %}disabled{% endif %}">
			<a href="?q={{query}}&page={{prev_page}}">Previous page</a>
		</li>

		<li class="page-item active">
			<a>{{page}}</a>
		</li>

		<li class="page-item {% if not next_page %}disabled{% endif %}">
			<a href="?q={{query}}&page={{next_page}}">Next page</a>
		</li>
	</ul>

{% endblock %}

