<!DOCTYPE html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		  <link href="/static/spectre.min.css" type="text/css" rel="stylesheet" />
		  <link href="/static/style.css" type="text/css" rel="stylesheet" />
          <script src="/static/jquery-2.1.1.min.js"></script>
          <script src="/static/main.js"></script>
	</head>
	<body>

		<div class="topbar">
			<div class="container grid-lg">
				<header class="navbar">
					<section class="navbar-section">
						<a href="/" class="navbar-brand mr-2">Octosearch</a>
					</section>
					<section class="navbar-section">
						{% include 'snippets/top-menu.html' %}
					</section>
				</header>

                {% include 'snippets/flash.html' %}

			</div>
		</div>

		<div class="container grid-lg">

			{% block content %}{% endblock %}

		</div>

	</body>
</html>
