<!DOCTYPE html>
<html lang="en">
	<head>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		  <link href="/static/spectre.min.css" type="text/css" rel="stylesheet" />
		  <link href="/static/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>

		<div class="topbar">
			<div class="container grid-lg">
				<header class="navbar">
					<section class="navbar-section">
						<a href="" class="navbar-brand mr-2">Octosearch</a>
					</section>
					<section class="navbar-section">
						{% if has_auth_backend %}
							|
							{% if username %}
								<span class="navbar-item btn btn-link">{{ username }}</span>
							{% else %}
								<a class="navbar-item btn btn-link" href="/login">Login</a>
							{% endif %}
						{% endif %}
						<span class="sep"></span>
						<a href="" class="navbar-item btn btn-link">About</a>
					</section>
				</header>
			</div>
		</div>

		<div class="container grid-lg">

			{% block content %}{% endblock %}

		</div>

	</body>
</html>
