{% extends "template.html" %}
{% block content %}
	<h2>Search</h2>

    {% include 'snippets/search-bar.html' %}

    <h2>Results</h2>

    <div class="search_results">
		{% for result in results.hits %}
			<div class="item">
				<span class="filename">{{result.filename}}</span><span style="color: grey"> &mdash; {{result.path}}</span>
				<span class="highlight">
					{% for snippet in result.highlight %}
						{{snippet|safe}} ...
					{% endfor %}
				</span>
			</div>
		{% endfor %}
    </div>

	<div class="paging">
		{% if prev_page %}
			<a href="?q={{query}}&page={{prev_page}}">Previous page</a>
		{% else %}
			<span class="disabled">Previous page</span>
		{% endif %}

		[ {{page}} ]

		{% if next_page %}
			<a href="?q={{query}}&page={{next_page}}">Next page</a>
		{% else %}
			<span class="disabled">Next page</span>
		{% endif %}
	</div>

{% endblock %}

