<html>
<head>
	<title>Duckysearch</title>
	<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script language="javascript" src="underscore-min.js"></script>
	<link href="/static/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
	<span class="menu">
		<a href="/">Home</a>
		{% if has_auth_backend %}
			|
			{% if username %}
				{{ username }}
			{% else %}
				<a href="/login">Login</a>
			{% endif %}
		{% endif %}
	</span>

	<h1>Duckysearch</h1>

	{% block content %}{% endblock %}

	<div class="footer"></div>
</body>
</html>
